<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - My Application</title>
    <script type="text/javascript" src="/js/home.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
<h1>Welcome to the Test application</h1>

<h2>Test project Features</h2>
<p>This application has a website layer. It provides a login feature. When you log, it will update the database with your input.</p>
<p><a href="/login">Click here to login</a></p>


<div id="output-container">
    <h2>Output</h2>
    <pre id="output"></pre>
</div>

<h2>API Endpoints</h2>
<p>We provide APIs to access our databases:</p>

<h3>MongoDB Database</h3>
<p><img src="" alt="MongoDB UML will be added later"></p>
<ul>
    <li><a href="javascript:getAllRequest()">Access all requests</a></li>
    <li><a href="javascript:getRequest(document.getElementById('getRequestIdInput').value)">Get a request by id</a>
        <label for="getRequestIdInput">id to fetch</label><input type="text" id="getRequestIdInput">
    </li>
    <li><a href="javascript:addRequest()" id="postLink">Create a request</a></li>
    <li><a href="/mongoDB/request/update/{id}">Update a request (doesn't work cuz flemme)</a></li>
    <li><a href="javascript:deleteRequest(document.getElementById('deleteRequestIdInput').value)">Delete a request</a>
        <label for="deleteRequestIdInput">id to delete</label><input type="text" id="deleteRequestIdInput">
    </li>
</ul>

<h3>MySQL Database</h3>
<p><img src="" alt="MySQL UML will be added later"></p>
<ul>
    <li><a href="javascript:getAllData()">Access all data</a></li>
    <li><a href="javascript:getData(document.getElementById('getDataIdInput').value)">Get a data</a>
        <label for="getDataIdInput">id to fetch</label><input type="text" id="getDataIdInput">
    </li>
    <li><a href="javascript:addData()">Add a data</a></li>
    <li><a href="javascript:deleteData(document.getElementById('deleteDataIdInput').value)">Delete a data</a>
        <label for="deleteDataIdInput">id to delete</label><input type="text" id="deleteDataIdInput">
    </li>
</ul>


</body>
</html>